
body {
	margin:0px;
}

.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}

.xaxis text, .yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

.xlabel, .ylabel {
    font-family: sans-serif;
    font-size: 14px; 
}

.charttitle {
  font-family: sans-serif;
  font-size: 22px;
  text-align:center;
  margin-top:30px;
  color:#333333;
}

.subtext {
  font-size:16px;
  color:#b3b3b3;
}

.selection {
  font-family: sans-serif;
  font-size: 14px;
  color:#333333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.description {
  margin: 60px;
  font-family: sans-serif;
  font-size: 16px;
  color:#333333;
  text-align:left;
}

.chart {
  margin-left:auto;
  margin-right:auto;
  height:600px;
  width:1200px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}